@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

body{
    background-color: #d8e2dc;
}

header{
    text-align: center;
    padding: 15px;
    background-color: white;
}
h1{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Pattaya', 'helvetica', sans-serif;
}

nav{
    background-color: #264653;
}

.menu{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #f8edeb;
    font-size: 18px;
    font-weight: 500;
}

.menu a:hover{
    color: #f4a261;
}

.head{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 5px;
    margin: 0;
}

img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(30%);
}

.center-container{
    position: relative;
    top: 13%;
    width: 70%;
    height: 200px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.center-container h2{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #f8edeb;
    margin-bottom: 25px;
}
.center-container p{
    display: inline-block;
    color: #ede0d4;
    margin: 15px;
}

.contact-button input{
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    width: 150px;
    background-color: #264653;
    color: #f8edeb;
    border: none;
    font-size: 20px;
}

.contact-button input:hover{
    background-color: #f4a261;
    color: #264653;
    cursor: pointer;
}

.center{
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 15px;
    text-align: center;
}

.center h2{
    margin-top: 55px;
    font-size: 35px;
}

.services{
    display: flex;
    justify-content: space-around;
}

.item-block{
    height: 300px;
    width: 30%;
    padding: 10px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 40px;
}

.center-item-block{
    width: 85%;
    height: 230px;
    position: absolute;
    padding: 15px;
    top: 15%;
    text-align: center;
}

div.center-item-block h4{
    color: #264653;
    font-size: 25px;
    margin-bottom: 10px;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius:50%;
    display: inline-block;
    text-align: center;
    background-color: #faa307;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.circle .icon{
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 8px;
    right: 8px;
}

div.center-item-block p{
    text-align: center;
}

section.contact{
    padding-bottom: 35px;
}

section.contact h2{
    margin-top: 0;
    margin-bottom: 15px;
}

.formulario{
    width: 65%;
    margin: auto;
    color: #d8e2dc;
    background: linear-gradient(#014f86 ,#012a4a ) ;
    border-radius: 15px;
    padding: 25px;
}

.formulario h3{
    color: #faa307;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formulario .fill-camp{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.fill-camp input{
    flex-basis: 30%;
    border-radius: 9px;
    height: 25px;
    border: none;
    padding: 5px;
}

.fill-camp label{
    flex-basis: 18%;
}

.give-width input, textarea{
    flex-basis: 80%;
    border-radius: 9px;
    height: 25px;
    border: none;
    padding: 5px;
}

.give-width textarea{
    height: 60px;
}

.button{
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.button input{
    display: inline-block;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    margin: 2px;
    background-color: #e63946;
    color: white;
    font-size: 17px;
}

.button input:hover{
    background-color: #ffb703;
    color: black;
    cursor: pointer;
}

footer{
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
}